.popup__subtitle {
  margin: 0;
  font-family: "Inter" , "Arial", "Impact", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  position: absolute;
  bottom: -24px;
  left: 0;
}
