.popup__close-button {
  min-height: 32px;
  min-width: 32px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.15s linear;
}

.popup__close-button:hover {
  opacity: 80%;
}

@media (max-width: 689px) {
  .popup__close-button {
    top: -48px;
    right: 0;
  }
}
