.profile__info {
  display: grid;
  justify-content: center;
  grid-template-columns: 294px 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media (max-width: 689px) {
  .profile__info {
    align-self: center;
    max-width: 217px;
    grid-template-columns: 189px 18px;
    column-gap: 10px;
    row-gap: 14px;
    padding-left: 28px;
  }
}
