.popup__title {
  margin: 0;
  font-family: "Inter" , "Times New Roman" , "Arial", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 54px;
}

@media (max-width: 689px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
